
div {
    display: block;
}

.art {
    float: left;
    width: 130px;
    height: 130px;
    overflow: hidden;
}

.art>.inner {
    background-size: cover;
    height: 100%;
    overflow: hidden;
    background-position: 50%;
}

body, html {
    background: #555;
    padding: 0;
    margin: 0;
    font-family: courier prime, Courier, Courier New, monospace;
    color: #fff;
}

#grow{
    overflow-y:auto;
    max-height: 80vh;
}
#chart {
    text-align: center;
    float: left;
    position: relative;
    z-index: 1;
    display: table-cell;
}



.align-center {
    text-align: center;
}
.card-row {
    width: 100%;
}

#chart-wrapper {
    margin: 35px 45px 45px 300px;
    z-index: 1;
    padding: 25px;
    position: absolute;
    -webkit-transform-origin: 0 0 0;
    transform-origin: 0 0 0;
    display: table;
    border: 1px solid #999;
    background-size: cover!important;
    background-position: 50%!important;
}
#fixed {
    min-width: 280px;
    max-width: 280px;
    width: 280px;
    z-index: 2;
    font-size: 13px;
    padding: 3px;
    position: fixed;
    height: 100%;
}
.size-150 .card {
    height: 150px;
    width: 150px;
}

.card-row .card {
    display: inline-block;
    *display: inline;
    zoom: 1;
}
.card .inner {
    line-height: 100px;
    background-color: #fff;
    background-size: cover;
    height: 100%;
    background-position: 50%;
}