<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Album Creator</title>
    <link href="/style.css" rel="stylesheet" type="text/css"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <script src="/album.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/dom-to-image@2.6.0/dist/dom-to-image.min.js"></script>


</head>
<body>
<div id="root">
    <div id="buttons" class="position-absolute top-0 end-0">
        <button id="download-png" data-format="png" type="submit" class="btn-dark">Download PNG</button>
        <span> </span>
        <button id="download-jpg" data-format="jpg" type="submit">Download JPG</button>
    </div>

    <div id="page">
        <div id="fixed">
            <div id="fixed-inner">
                <div id="customizations-container"></div>
                <div id="search-container">
                    <div>
                        <select id="select-type">
                            <option value="music">음악</option>
                            <option value="movies">영화</option>
                            <option value="dramas">드라마</option>
                            <option value="person">가수 및 배우</option>
                            <option value="webtoon">웹툰</option>
                            <!--                            <option value="games">Games</option>-->

                        </select>&nbsp;
                        <form id="new-search-container" style="display: flex; padding: 0px;">
                            <input
                                    id="search-bar" type="search" placeholder="Album, movies, drama and actor..."
                                    style="flex-grow: 1;">
                            <input type="submit" value="Search">
                        </form>
                    </div>
                </div>
                <div id="grow">
                    <!--  여기에 이미지들 추가 -->
                </div>


            </div>

        </div>


        <div id="chart-wrapper" style="background: center center rgb(0,0,0); transform:scale(1.33)" ;>
            <div id="chart" style="width: 624px;">
                <div class="card-row size-150 align-center">
                    <div class="card" style="opacity: 1; padding: 3px;" draggable="true">
                        <div class="inner"></div>
                    </div>
                    <span class="zero"> </span>
                    <div class="card" style="opacity: 1; padding: 3px;" draggable="true">
                        <div class="inner"></div>
                    </div>
                    <span class="zero"> </span>
                    <div class="card" style="opacity: 1; padding: 3px;" draggable="true">
                        <div class="inner"></div>
                    </div>
                    <span class="zero"> </span>
                    <div class="card" style="opacity: 1; padding: 3px;" draggable="true">
                        <div class="inner"></div>
                    </div>
                </div>
                <div class="card-row size-150 align-center">
                    <div class="card " style="opacity: 1; padding: 3px;" draggable="true">
                        <div class="inner"></div>
                    </div>
                    <span class="zero"> </span>
                    <div class="card " style="opacity: 1; padding: 3px;" draggable="true">
                        <div class="inner"></div>
                    </div>
                    <span class="zero"> </span>
                    <div class="card " style="opacity: 1; padding: 3px;" draggable="true">
                        <div class="inner"></div>
                    </div>
                    <span class="zero"> </span>
                    <div class="card " style="opacity: 1; padding: 3px;" draggable="true">
                        <div class="inner"></div>
                    </div>
                </div>
                <div class="card-row size-150 align-center">
                    <div class="card " style="opacity: 1; padding: 3px;" draggable="true">
                        <div class="inner"></div>
                    </div>
                    <span class="zero"> </span>
                    <div class="card " style="opacity: 1; padding: 3px;" draggable="true">
                        <div class="inner"></div>
                    </div>
                    <span class="zero"> </span>
                    <div class="card " style="opacity: 1; padding: 3px;" draggable="true">
                        <div class="inner"></div>
                    </div>
                    <span class="zero"> </span>
                    <div class="card " style="opacity: 1; padding: 3px;" draggable="true">
                        <div class="inner"></div>
                    </div>
                </div>
                <div class="card-row size-150 align-center">
                    <div class="card " style="opacity: 1; padding: 3px;" draggable="true">
                        <div class="inner"></div>
                    </div>
                    <span class="zero"> </span>
                    <div class="card " style="opacity: 1; padding: 3px;" draggable="true">
                        <div class="inner"></div>
                    </div>
                    <span class="zero"> </span>
                    <div class="card " style="opacity: 1; padding: 3px;" draggable="true">
                        <div class="inner"></div>
                    </div>
                    <span class="zero"> </span>
                    <div class="card " style="opacity: 1; padding: 3px;" draggable="true">
                        <div class="inner"></div>
                    </div>
                </div>
            </div>

        </div>


        <!--        </div>-->

    </div>

</div>
</body>

</html>
